body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.image-upload-wrapper {
  width: fit-content;
  margin: 20px auto;
}

#avatar {
  background-color: antiquewhite;
  height: 150px;
  width: 150px;
  border: 3px solid #0af;
  border-radius: 50%;
  transition: background ease-out 200ms;
}

#preview {
  position: relative;
}

input[type="file"] {
  display: none;
}

button#upload-button {
  padding: 18px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #08f;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  transition: background-color ease-out 120ms;
  position: absolute;
  right: -5%;
  bottom: 0%;
}

button#upload-button:hover {
  background-color: #45a;
}

