/* body{
    font-family: 'Open Sans', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.form {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: auto;
    padding-top: 50px;
}
.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}

.card{
    box-shadow: 1px 1px 5px #ccc;
    background-color: white;
    width: 95%;
    padding: 30px;
    border-radius: 5px;
}
.card-top{
    text-align: center;
    
}
.title{
    color: #2a6049;
    font-size: 40px;
    font-family: 'Trebuchet MS';
}
.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary {
    color: #007b5b;
}

.card-group{
    margin-bottom: 10px;
}
.card-group > label{
    width: 100%;
    color: rgb(75, 75, 75);
}
.card-group > input{
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 30px;
}
.card-group > button{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 43px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}
.bnt{
    border-radius: 15px;
    text-transform: uppercase;
    background-color: #007b5b;
    color: #fff;
    font-size: 10px;
    padding: 10px 43px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 10px; 
    margin-left: 33%; 
    
}
.bnt:hover {
    background-color: #fff;
    color: #007b5b;
border: 5px #007b5b;
    transition: background-color .5s;
} */