
body{
    font-family: 'Open Sans', sans-serif;
    background-size: 1350px 1100px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: center;
    -o-background-size: center;
    background-image: url(https://i.imgur.com/XS6yRJf.png); 
}
.card{
    box-shadow: 1px 1px 5px #ccc;
    background-color: white;
    width: 95%;
    padding: 30px;
    border-radius: 5px;
}
.title{
    color: #2a6049;
    font-size: 40px;
    font-family: 'Trebuchet MS';
}
.form {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: auto;
    padding-top: 50px;
    
}
.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
    
}
input:-webkit-autofill 
{    
    -webkit-text-fill-color: #000 !important;
}
.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}
.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

.card-top{
    text-align: center;
}
.card-group{
    margin-bottom: 10px;
}
.card-group > label{
    width: 100%;
    color: rgb(75, 75, 75);
}
.card-group > input{
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 30px;
}
.card-group > button{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 43px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}
.btn{
    border-radius: 15px;
    text-transform: uppercase;
    background-color: #007b5b;
    color: #fff;
    font-size: 10px;
    padding: 10px 43px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 10px; 
    margin-left: 33%; 
    
}
.btn:hover {
    background-color: #fff;
    color: #007b5b;
border: 5px #007b5b;
    transition: background-color .5s;
}




