        /* Menu */

#menu {
    -moz-transform: translateX(20rem);
    -webkit-transform: translateX(20rem);
    -ms-transform: translateX(20rem);
    transform: translateX(20rem);
    -moz-transition: -moz-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    -webkit-transition: -webkit-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    -ms-transition: -ms-transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    transition: transform 0.5s ease, box-shadow 0.5s ease, visibility 0.5s;
    -webkit-overflow-scrolling: touch;
    background: rgb(0 0 0 / 78%);
    box-shadow: none;
    color: #000;
    /* height: 100%; */
    max-width: 80%;
    overflow-y: auto;
    padding: 1rem 1rem;
    position: fixed;
    right: 25px;
    top: 50px;
    visibility: hidden;
    width: 20rem;
    z-index: 10002;
    border-radius: 20px;
   }


    #menu > ul {
        margin: 0 0 1rem 0;
    }

        #menu > ul.links {
            list-style: none;
            padding: 0;
        }

            #menu > ul.links > li {
                padding: 0;
            }

                #menu > ul.links > li > a:not(.button) {
                    border: 0;
                    border-top: solid 1px rgba(255, 255, 255, 0.125);
                    color: rgba(255, 255, 255, 0.5);
                    display: block;
                    line-height: 3.5rem;
                    text-decoration: none;
                    text-transform: uppercase;
                }

                    #menu > ul.links > li > a:not(.button):hover {
                        color: #FFF;
                    }

                #menu > ul.links > li > .button {
                    display: block;
                    margin: 0.5rem 0 0 0;
                }

                #menu > ul.links > li:first-child > a:not(.button) {
                    border-top: 0 !important;
                }

    #menu .close {
        text-decoration: none;
        -moz-transition: color 0.2s ease-in-out;
        -webkit-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
        -webkit-tap-highlight-color: transparent;
        border: 0;
        color: #999999;
        cursor: pointer;
        display: block;
        height: 3.25rem;
        line-height: 3.25rem;
        padding-right: 1.25rem;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;

        
    }

        #menu .close:before {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-transform: none !important;
        }

        #menu .close:before {
            content: '\f00d';
            font-size: 1.25rem;
        }

        #menu .close:hover {
            color: #000;
        }

        @media screen and (max-width: 736px) {

            #menu .close {
                height: 4rem;
                line-height: 4rem;
            }

        }

    #menu.visible {
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.2);
        visibility: visible;
    }

    @media screen and (max-width: 736px) {

        #menu {
            padding: 2.5rem 1.75rem;
            
        }

    }

    .header a {
        -moz-transition: color 0.2s ease-in-out;
        -webkit-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
        display: inline-block;
        padding: 0 0.75em;
        color: inherit;
        text-decoration: none;
        color: #FFF;
        font-size: 15px;
    }

    /* Header */

	body.subpage {
		padding-top: 3.25em;
	}

	@-moz-keyframes reveal-header {
		0% {
			top: -4em;
			opacity: 0;
		}

		100% {
			top: 0;
			opacity: 1;
		}
	}

	@-webkit-keyframes reveal-header {
		0% {
			top: -4em;
			opacity: 0;
		}

		100% {
			top: 0;
			opacity: 1;
		}
	}

	@-ms-keyframes reveal-header {
		0% {
			top: -4em;
			opacity: 0;
		}

		100% {
			top: 0;
			opacity: 1;
		}
	}

	@keyframes reveal-header {
		0% {
			top: -4em;
			opacity: 0;
		}

		100% {
			top: 0;
			opacity: 1;
		}
	}

	#header {
		background: rgba(0, 0, 0, 0.975);
		color: #a6a6a6;
		cursor: default;
		height: 3.25em;
		left: 0;
		line-height: 3.25em;
		position: fixed;
		text-align: right;
		top: 0;
		width: 100%;
		z-index: 10001;
	}

		#header > .logo {
			display: inline-block;
			height: inherit;
			left: 1.25em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
		}

			#header > .logo a {
				font-size: 2em;
				color: #FFF;
				text-decoration: none;
			}

				#header > .logo a:hover {
					color: rgba(255, 255, 255, 0.65);
				}

			#header > .logo span {
				font-weight: 400;
				font-size: 0.8em;
				color: rgba(255, 255, 255, 0.65);
			}

		#header > a {
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			display: inline-block;
			padding: 0px 1% 0em 0%;
			color: inherit;
			text-decoration: none;
			color: #FFF;
			font-size: 15px;
		}

			#header > a:hover {
				color: #f2f2f2;
			}

			/* #header > a[href="#menu"] {
				text-decoration: none;
				font-size: 1.8em;
				-webkit-tap-highlight-color: transparent;
			}

				#header > a[href="#menu"]:before {
					content: "ïƒ‰";
				
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-transform: none !important;
				}

				#header > a[href="#menu"]:before {
					margin: 0 0.5em 0 0;
				}

			#header > a + a[href="#menu"]:last-child {
				border-left: solid 1px rgba(0, 0, 0, 0.15);
				padding-left: 1.25em;
				margin-left: 0.5em;
			}

			#header > a:last-child {
				padding-right: 1.25em;
			} 

			@media screen and (max-width: 736px) {

				#header > a {
					padding: 0 0.5em;
				}

					#header > a + a[href="#menu"]:last-child {
						padding-left: 1em;
						margin-left: 0.25em;
					}

					#header > a:last-child {
						padding-right: 1em;
					}

			
			}*/
			
			   .visible.top:nth-child(1) > .inner:nth-child(2) > header:nth-child(1) > a:nth-child(3) {
				font-size: 30px;
			   }
			   .visible.top:nth-child(2) > .inner:nth-child(2) > header:nth-child(1) > a:nth-child(3) {
				font-size: 30px;
			   }
			   .visible.top:nth-child(3) > .inner:nth-child(2) > header:nth-child(1) > a:nth-child(3) {
				font-size: 30px;
			   }
			   .visible.top:nth-child(4) > .inner:nth-child(2) > header:nth-child(1) > a:nth-child(3) {
				font-size: 30px;
			   }


		#header.reveal {
			-moz-animation: reveal-header 0.5s ease;
			-webkit-animation: reveal-header 0.5s ease;
			-ms-animation: reveal-header 0.5s ease;
			animation: reveal-header 0.5s ease;
		}

		#header.alt {
			-moz-animation: none;
			-webkit-animation: none;
			-ms-animation: none;
			animation: none;
			background-color: transparent;
			box-shadow: none;
			overflow: hidden;
			position: absolute;
			top: 1.5em;
		}

			#header.alt h1 {
				left: 2.5em;
			}

			#header.alt nav {
				right: 2.5em;
			}

	@media screen and (max-width: 980px) {

		body.subpage {
			padding-top: 44px;
		}

		#header {
			height: 44px;
			line-height: 44px;
		}

			#header > h1 {
				left: 1em;
			}

				#header > h1 a {
					font-size: 1.25em;
				}

	}

	@media screen and (max-width: 480px) {

		#header {
			min-width: 320px;
		}

	}

    	/* Tela de perfil */

	
		.opcoes {
			color: #FFFFFF;
			font-size: 20px;
			font-family: 'Trebuchet MS';
			text-align: left;
			/* width: 35%; */
		}

       #opcoes a {
        width: auto;
   
       }
		.avatar {
			vertical-align: middle;
			width: 50px;
			height: 50px;
			border-radius: 50%;
		  }
	
		.card-top{
			text-align: center;
		}
		.profile-user-img{
			width: 125px;
			box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
		  }

		.title{
			color: #FFFFFF;
			font-size: 30px;
			font-family: 'Trebuchet MS';
		}
		.form {
			display: flex;
			flex-direction: column;
			width: 100%;
			margin: auto;
			padding-top: 5px;
			text-align: center;
		}
		.icon-modify {
			color: #2a6049;
			padding: 0 5px;
		}
		.fa {
			font-size: 20px;
		}

        .span{
            color: yellow;
        }



#user-picMenu {
    width: 40px;
    height: 40px;
    object-fit: cover;
    
   
}

#user-pic {
    width: 80px;
    height: 80px;
    object-fit: cover;
}